<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Caravelle</title>
    <link rel="stylesheet" href="../Styles/style.css">
    <script src="../scripts/Jscript.js"></script>

</head>

<body onscroll="fscroll()" onload="Setup();isConnect()">
    <header id="top">
        <h1><a href="../Accueil.html" id="backtohome">Caravelle</a></h1>

    </header>
    <nav>
        <ul id="NavBar">
            <li class="listM"><a href="../Accueil.html">Accueil</a></li>
            <li class="listM"><a href="Destinations.html">Destinations</a></li>
            <li class="listM"><a href="Panier.html">Panier</a></li>
            <li class="listM"><a href="Support_et_Contact.html">Support & Contact</a></li>
            <li class="listMD"><a href="Template/Connexion.html" id="connexion">Connexion</a></li>
            <li><button onclick="ButtonDeco()" id="deconnexion">Déconnexion</button></li>
        </ul>
    </nav>

    <section>
        <h1 id="affprix">f</h1>
    </section>

    <footer>
        <h2>Notre entreprise</h2>
        <ul>
            <li><a href="Non_Disponible.html">A propos</a> </li>
            <li><a href="Offres_d_emploi.html">Offres d'emploi</a></li>
            <li><a href="Non_Disponible.html">Mentions légales</a></li>
            <li><a href="Non_Disponible.html">Blog </a></li>

        </ul>
    </footer>
</body>

</html>